name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  build-linux:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v1
      with:
        cmake-version: '3.20'

    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON

    - name: Build
      run: cmake --build build --config Release

    - name: Upload test Binaries
      uses: actions/upload-artifact@v4
      with:
        name: test-linux
        path: build/bin/tests/*

  build-macos:
    runs-on: macos-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v1
      with:
        cmake-version: '3.20'

    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON

    - name: Build
      run: cmake --build build --config Release

    - name: Upload test Binaries
      uses: actions/upload-artifact@v4
      with:
        name: test-macos
        path: build/bin/tests/*

  build-windows:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v1
      with:
        cmake-version: '3.20'

    - name: Setup Ninja
      uses: seanmiddleditch/gha-setup-ninja@master

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Configure CMake
      run: cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON

    - name: Build
      run: cmake --build build

    - name: Upload test Binaries
      uses: actions/upload-artifact@v4
      with:
        name: test-windows
        path: build/bin/tests/*

  test-ubuntu:
    runs-on: ubuntu-latest
    needs: [build-linux]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download test Binaries
      uses: actions/download-artifact@v4
      with:
        name: test-linux
        path: ./tests/
    - name: List downloaded files
      run: ls -l ./tests
    - name: Run Linux Tests
      run: |
        chmod +x ./tests/*_test
        for file in ./tests/*_test; do
          echo Running $file
          $file
        done
    
  test-macos:
    runs-on: macos-latest
    needs: [build-macos]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download test Binaries
      uses: actions/download-artifact@v4
      with:
        name: test-macos
        path: ./tests/

    - name: Run MacOS Tests
      run: |
        chmod +x ./tests/*_test
        for file in ./tests/*_test; do
          echo Running $file
          $file
        done

  test-windows:
    runs-on: windows-latest
    needs: [build-windows]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download test Binaries
      uses: actions/download-artifact@v4
      with:
        name: test-windows
        path: ./tests/

    - name: Run Windows Tests
      run: |
        for %%f in (./tests/*_test) do (
          echo Running %%f
          %%f
        )
      shell: cmd